/yucmedia/Runtime
/application_materials/*
/system/cache
/system/admin_log/*
/system/configs.inc.php
/system/settings.inc.php
/filestores

/dev/sub/filestores
/dev/sub/configs.inc.php
/dev/sub/settings.inc.php
/dev/sub/upload_log.php
/dev/sub/db_log.php




