#myBox .myBox_b {
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
  width:10px;
}

#myBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  display:none;
}

#myBox .myBox_popup {
  position: relative;
}

#myBox table {
	border-collapse: collapse;
    border-spacing: 0;
}

#myBox td {
  border-bottom: 0;
  padding: 0;
}

#myBox .myBox_body {
  background-color:#ffffff;
    border:1px solid #CCCCCC;
}

#myBox img {
  border: 0;
  margin: 0;
}
#myBox .myBox_title {
  height:28px;
  color:#000000;
  width:100%;
  background:url("l_tit.png") repeat-x;
}
#myBox .myBox_title .myBox_itemTitle{
    padding-left:5px;
    overflow:hidden;
	font-size:14px;
font-weight:bold;
}
#myBox .myBox_title .myBox_close{
    background:url("close.png") no-repeat 0 0;
    height:14px;
    width:14px;
    overflow:hidden;
    cursor:pointer;
}
#myBox .myBox_title .on{
    background-position:0 -14px;
}
#myBox .myBox_tl, #myBox .myBox_tr, #myBox .myBox_bl, #myBox .myBox_br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
  filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#myBox #myBoxContent{
	padding:3px;
}
#myBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background:#dfdfdf;
  filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
#myBox .myBox_load{
	width:270px;
}
.myBox_hide {
  z-index:-100;
}

.myBox_overlayBG {
  background-color: #FFF;
  z-index: 99;
}
#myBox #myBox_loading{
	width:32px;height:32px;margin:0 auto;
}
#a_phpdisk_upload{background:#4584DB url("up.png") no-repeat;width:99px; height:30px; display:block; float:left; margin-right:10px;}
#a_phpdisk_fl{background:#EBEBEB url("lb.png") no-repeat;width:112px; height:28px; display:block; float:left; border:1px #CDCDCD solid}
#pd_fl_box{width:99%; border:1px #EBEBEB solid}
.fl_list{ line-height:28px; width:100%;}
.fl_list .f1{float:left;width:60%; border-bottom:1px #DFDFDF solid;}
.fl_list .f2{float:right; width:40%; border-bottom:1px #DFDFDF solid; text-align:right}

.pd_b_box{ margin-bottom:20px}
.clear{clear:both}
