#myBox .myBox_b {
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
  width:10px;
}

#myBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  display:none;
}

#myBox .myBox_popup {
  position: relative;
}

#myBox table {
	border-collapse: collapse;
    border-spacing: 0;
}

#myBox td {
  border-bottom: 0;
  padding: 0;
}

#myBox .myBox_body {
  background-color:#ffffff;
    border:1px solid #9BC9DF;
}

#myBox img {
  border: 0;
  margin: 0;
}
#myBox .myBox_title {
  height:28px;
  color:#000000;
  width:100%;
  background:url("upload_bg.gif") repeat-x;
}
#myBox .myBox_title .myBox_itemTitle{
    padding-left:5px;
    overflow:hidden;
	font-size:14px;
font-weight:bold;
}
#myBox .myBox_title .myBox_close{
    background:url("close.png") no-repeat 0 0;
    height:14px;
    width:14px;
    overflow:hidden;
    cursor:pointer;
}
#myBox .myBox_title .on{
    background-position:0 -14px;
}
#myBox .myBox_tl, #myBox .myBox_tr, #myBox .myBox_bl, #myBox .myBox_br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
  filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#myBox #myBoxContent{
	padding:3px;
}
#myBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background:#dfdfdf;
  filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
#myBox .myBox_load{
	width:270px;
}
.myBox_hide {
  z-index:-100;
}

.myBox_overlayBG {
  background-color: #FFF;
  z-index: 99;
}
#myBox #myBox_loading{
	width:32px;height:32px;margin:0 auto;
}